#map {
    width: 50%;
    height: 500px;
    /*margin: auto;*/
    /*border: solid 3px lightgrey;*/
    border: solid 2px grey;

    border-radius: 10px;

}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    /*left: 50%;*/
    margin-left: 2%;
    top: 10px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.navbar{
    /*background-image: url("../images/snow-forest.jpg");*/
    /*background-size: inherit;*/
    background-color: darkslategrey;

}

.navbar-brand{
    margin: auto;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 60px;
}

body {
    /*background-image: url("../images/snow-falling-bg.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: dimgrey;
}

#top-container{
        display: flex;
        flex-direction: row;
    justify-content: space-evenly;
}

.temp{
    font-size: 40px;
}

.hwp{
    font-size: 24px;
}


